<p-select
	[fluid]="true"
	[options]="categories()"
	[(ngModel)]="vehiclesFetchProps().category"
	[filter]="true"
	filterBy="Name"
	[showClear]="true"
	optionLabel="Name"
	placeholder="1. Выбрать тип техники"
	(onClear)="categorySelected.emit(undefined)"
	(onChange)="categorySelected.emit($event.value)"
	class="w-full md:w-56"
>
</p-select>
@if (userSelectedCategory()) {
	<p-select
		[fluid]="true"
		[options]="brands()"
		[(ngModel)]="vehiclesFetchProps().brand"
		[filter]="true"
		filterBy="Name"
		[showClear]="true"
		optionLabel="Name"
		(onClear)="brandSelected.emit(undefined)"
		(onChange)="brandSelected.emit($event.value)"
		placeholder="2. Выбрать марку техники"
		class="w-full md:w-56"
	>
	</p-select>
	@if (userSelectedBrand()) {
		<p-select
			[fluid]="true"
			[options]="models()"
			[(ngModel)]="vehiclesFetchProps().model"
			[filter]="true"
			filterBy="Name"
			optionLabel="Name"
			(onClear)="modelSelected.emit(undefined)"
			(onChange)="modelSelected.emit($event.value)"
			[showClear]="true"
			placeholder="3. Выбрать модель техники"
			class="w-full md:w-56"
		>
		</p-select>
		@if (userSelectedBrand() && userSelectedCategory() && userSelectedModel()) {
			<button
				(click)="navigateVehicles()"
				class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md transition duration-200"
			>
				Найти предложения
			</button>
		}
	}
}
