<!-- <div class="max-w-4xl mx-auto p-6 space-y-8">
	<div class="text-center mb-8">
		<h1 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-2">Каталог запчастей</h1>
	</div>
	<div class="mb-6">
		<app-spares-search-input (onTextSearchSubmit)="acceptTextSearch($event)" />
	</div>
	<div class="space-y-4">
		@for (spare of spares(); track spare.Id) {
			<div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-md transition duration-200">
				<div class="flex flex-col md:flex-row md:items-start gap-4">
					<app-spare-photo [photos]="spare" />
					<app-spare-content>
						<app-spare-title [title]="spare.Text" [description]="spare.Text" />
						<app-spare-details [isNds]="spare.IsNds" [location]="spare.Location" [oem]="spare.Oem" [price]="spare.Price" />
						<app-spare-source [source]="spare.Url" />
					</app-spare-content>
				</div>
			</div>
		}
		@if (totalCount() > pageSize) {
			<app-pagination
				[total_count]="totalCount()"
				[page_size]="pageSize"
				[current_page]="currentPage()"
				(pageChanged)="acceptPageChange($event)"
			/>
		}
	</div>
</div> -->

<!-- TODO: add photos for spares list -->

<div class="max-w-6xl mx-auto p-6 space-y-8">
	<div class="text-center mb-8">
		<h1 class="text-3xl font-bold text-gray-800 dark:text-gray-100 mb-2">Каталог запчастей</h1>
	</div>
	<div class="grid grid-cols-2 gap-4">
		<aside class="col-span-1">
			<div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6 sticky top-4">
				<h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Фильтры</h2>
				<app-vehicle-price-filter-form-part />
				<div class="flex flex-col gap-2">
					<app-vehicle-regions-filter-form-part [locations]="locations()" [disabled]="false" [selectedLocation]="null" />
					<app-spares-search-input (onTextSearchSubmit)="acceptTextSearch($event)" />
				</div>
			</div>
		</aside>
		<section class="col-span-1">
			<div class="space-y-4">
				@for (spare of spares(); track spare.Id) {
					<div class="p-4 bg-white dark:bg-gray-800 rounded-lg shadow hover:shadow-md transition duration-200">
						<div class="flex flex-col md:flex-row md:items-start gap-4">
							<!-- <app-spare-photo [photos]="spare" /> -->
							<app-spare-content>
								<app-spare-title [title]="spare.Text" [description]="spare.Text" />
								<app-spare-details
									[isNds]="spare.IsNds"
									[location]="spare.Location"
									[oem]="spare.Oem"
									[price]="spare.Price"
								/>
								<app-spare-source [source]="spare.Url" />
							</app-spare-content>
						</div>
					</div>
				}
			</div>
		</section>
	</div>
	@if (statistics().totalCount > pageSize) {
		<app-pagination
			[total_count]="statistics().totalCount"
			[page_size]="pageSize"
			[current_page]="query().Page ?? 1"
			(pageChanged)="acceptPageChange($event)"
		/>
	}
</div>
