<div class="lg:col-span-1">
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 mb-6">
    <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200 mb-4">
      Быстрый поиск
    </h2>

    <div class="space-y-4">
      <p-select
        [fluid]="true"
        [options]="itemTypes"
        [(ngModel)]="readSelectedItemType"
        (ngModelChange)="handleUserItemTypeSelect($event)"
        placeholder="Выбрать категорию"
        class="w-full md:w-56"
      >
        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
            <div>{{ selectedOption }}</div>
          </div>
        </ng-template>
        <ng-template let-category #item>
          <div class="flex items-center gap-2">
            <div>{{ category }}</div>
          </div>
        </ng-template>
      </p-select>

      @if (userIsWatchingVehicles()) {
        <app-fast-navigation-vehicles
          [vehicles_fetch_props]="vehiclesFetchProps()"
          (brandSelected)="brandSelected.emit($event)"
          (categorySelected)="categorySelected.emit($event)"
          (modelSelected)="modelSelected.emit($event)"
          (vehiclesFetched)="vehiclesFetched.emit($event)"
        >
        </app-fast-navigation-vehicles>
      }
      @if (userIsWatchingSpares()) {
        <app-fast-navigation-spares
          [spares_fetch_props]="sparesFetchProps()"
          (sparesFetched)="sparesFetched.emit($event)"
          (spareTextSearchChanged)="spareTextSearchChanged.emit($event)"
        >
        </app-fast-navigation-spares>
      }
    </div>
  </div>
</div>
