root = true

[*]
indent_size = 4
tab_width = 4
max_line_length = 120
use_tabs = false

Code
[*.cs]

# Строгие рекомендации — Roslynator

# правила проектирования
dotnet_diagnostic.CA1877.severity = error
dotnet_diagnostic.CA1875.severity = error
dotnet_diagnostic.CA1874.severity = error
dotnet_diagnostic.CA1869.severity = error
dotnet_diagnostic.CA1868.severity = error
dotnet_diagnostic.CA1862.severity = error
dotnet_diagnostic.CA1860.severity = error
dotnet_diagnostic.CA1859.severity = error
dotnet_diagnostic.CA1858.severity = error
dotnet_diagnostic.CA1855.severity = error
dotnet_diagnostic.CA1854.severity = error
dotnet_diagnostic.CA1853.severity = error
dotnet_diagnostic.CA1847.severity = error
dotnet_diagnostic.CA1846.severity = error
dotnet_diagnostic.CA1844.severity = error
dotnet_diagnostic.CA1845.severity = error
dotnet_diagnostic.CA1843.severity = error
dotnet_diagnostic.CA1842.severity = error
dotnet_diagnostic.CA1841.severity = error
dotnet_diagnostic.CA1840.severity = error
dotnet_diagnostic.CA1839.severity = error
dotnet_diagnostic.CA1837.severity = error
dotnet_diagnostic.CA1836.severity = error
dotnet_diagnostic.CA1835.severity = error
dotnet_diagnostic.CA1834.severity = error
dotnet_diagnostic.CA1833.severity = error
dotnet_diagnostic.CA1832.severity = error
dotnet_diagnostic.CA1831.severity = error
dotnet_diagnostic.CA1829.severity = error
dotnet_diagnostic.CA1830.severity = error
dotnet_diagnostic.CA1828.severity = error
dotnet_diagnostic.CA1826.severity = error
dotnet_diagnostic.CA1827.severity = error
dotnet_diagnostic.CA1825.severity = error
dotnet_diagnostic.CA1823.severity = suggestion
dotnet_diagnostic.CA1820.severity = error
dotnet_diagnostic.CA1819.severity = error
dotnet_diagnostic.CA1805.severity = error
dotnet_diagnostic.CA1802.severity = error
dotnet_diagnostic.CA1716.severity = error
dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA5401.severity = none
dotnet_diagnostic.CA2225.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CA1721.severity = none
dotnet_diagnostic.CA2211.severity = suggestion
dotnet_diagnostic.CA2213.severity = none
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA1016.severity = none
dotnet_diagnostic.CA1715.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1032.severity = none
dotnet_diagnostic.CA1822.severity = suggestion
dotnet_diagnostic.CA1065.severity = error
dotnet_diagnostic.CA1066.severity = error
dotnet_diagnostic.CA1067.severity = error
dotnet_diagnostic.CA1068.severity = error
dotnet_diagnostic.CA1069.severity = error
dotnet_diagnostic.CA1070.severity = error
dotnet_diagnostic.CA1707.severity = error
dotnet_diagnostic.CA1053.severity = error
dotnet_diagnostic.CA1052.severity = error
dotnet_diagnostic.CA1064.severity = error
dotnet_diagnostic.CA1061.severity = error
dotnet_diagnostic.CA1051.severity = error
dotnet_diagnostic.CA1050.severity = error
dotnet_diagnostic.CA1047.severity = error
dotnet_diagnostic.CA1044.severity = error
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.CA1040.severity = none
dotnet_diagnostic.CA5394.severity = none
dotnet_diagnostic.CA1048.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CS8600.severity = none
dotnet_diagnostic.CS8714.severity = none
dotnet_diagnostic.CA1002.severity = error
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1005.severity = error
dotnet_diagnostic.CA1008.severity = error
dotnet_diagnostic.CA1010.severity = error
dotnet_diagnostic.CA1012.severity = error
dotnet_diagnostic.CA1018.severity = error
dotnet_diagnostic.CA1024.severity = error
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1708.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA2007.severity = none

dotnet_analyzer_diagnostic.category-Design.severity = error
dotnet_analyzer_diagnostic.category-Perfomance.severity = error