root = true

[*]
indent_size = 4
tab_width = 4
max_line_length = 120
use_tabs = false

# C# files
[*.cs]

dotnet_diagnostic.AsyncFixer01.severity = warning   # Не используйте async void методы
dotnet_diagnostic.AsyncFixer02.severity = warning   # Избегайте fire-and-forget задач
dotnet_diagnostic.AsyncFixer03.severity = warning   # Не используйте Task.Run внутри асинхронных методов библиотеки
dotnet_diagnostic.AsyncFixer04.severity = warning   # Не блокируйте асинхронным кодом через .Wait(), .Result и т.п.
dotnet_diagnostic.AsyncFixer05.severity = warning   # Не используйте ConfigureAwait(false) в UI/ASP.NET коде
dotnet_diagnostic.AsyncFixer06.severity = warning   # Не забывайте обрабатывать исключения от асинхронных методов

dotnet_analyzer_diagnostic.category-ErrorProne.NET.CoreAnalyzers.severity = warning

dotnet_analyzer_diagnostic.category-Usage.severity = warning
dotnet_analyzer_diagnostic.category-Design.severity = warning
dotnet_analyzer_diagnostic.category-Documentation.severity = warning
dotnet_analyzer_diagnostic.category-Performance.severity = warning
dotnet_analyzer_diagnostic.category-Maintainability.severity = warning
dotnet_analyzer_diagnostic.category-Reliability.severity = warning
dotnet_analyzer_diagnostic.category-Security.severity = warning
dotnet_analyzer_diagnostic.category-Style.severity = suggestion

dotnet_diagnostic.CA2000.severity = error       # Dispose objects, before losing scope
dotnet_diagnostic.CA1822.severity = warning     # Mark members as static
dotnet_diagnostic.CA1822.severity = warning     # Mark members as static
dotnet_diagnostic.CA1062.severity = none     # Null check force disabled
dotnet_diagnostic.CA2007.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1031.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1812.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1034.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1708.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1515.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1056.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1054.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA2213.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA2000.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CS8600.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CS8604.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.IDE0058.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CS9113.severity = suggestion         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1305.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA0022.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1711.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1716.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA1040.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.CA5394.severity = none         # Remove unused parameter (IDE style, включите если хотите)

dotnet_diagnostic.SYSLIB1045.severity = none         # Remove unused parameter (IDE style, включите если хотите)

dotnet_analyzer_diagnostic.category-Roslynator.Analyzers.severity = warning
dotnet_diagnostic.RCS1001.severity = warning        # Add braces to if/else/for/while statements

dotnet_diagnostic.RCS1016.severity = error        # Use expression-bodied member

dotnet_diagnostic.CA1707.severity = none          # Identifiers should not contain underscores
dotnet_diagnostic.IDE0060.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.IDE0011.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.IDE0160.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.IDE0046.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.IDE0050.severity = none         # Remove unused parameter (IDE style, включите если хотите)
dotnet_diagnostic.IDE0055.severity = none         # Remove unused parameter (IDE style, включите если хотите)

dotnet_analyzer_diagnostic.category-IDE.severity = suggestion