@if (watchingVehicles()) {
  <div class="lg:col-span-2">
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
          Техника
        </h2>
      </div>
      <div class="space-y-6">
        @for (item of vehicles(); track item.VehicleId) {
          <app-recent-vehicle [item_setter]="item" />
        }
      </div>
    </div>
  </div>
}
@if (watchingSpares()) {
  <div class="lg:col-span-2">
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
          Запчасти
        </h2>
      </div>
      <div class="space-y-6">
        @for (item of spares(); track item.Id) {
          <app-recent-spare-card [spare_setter]="item" />
        }
      </div>
    </div>
    <app-pagination
      [total_count]="sparesPaginationProps().totalCount"
      [current_page]="sparesPaginationProps().page"
      [page_size]="sparesPaginationProps().pageSize"
      (pageChanged)="handleSparesPageChange($event)"
    >
    </app-pagination>
  </div>
}
